.App {
  text-align: center;
}

.f-logo {
  margin: 0 0 auto!important;
}

/* controler item  */

.card-item{
  border: none;

}
.card-item .item-body{
  background-color: rgba(0,0,0,.03)!important;
}
.card-item .item-header{
  border-bottom: 0px;
}
.card-item .item-footer{
  border-top: none;
  background-color: transparent!important;
}
.cont-controler-item {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
}
.control-count-item button {
  border: none;
  background-color: #ffffff;
  color: blue; 
}

/*  */

