.App {
  text-align: center;
}

.f-logo {
  margin: 0 0 auto!important;
}

/* controler item  */

.card-item{
  border: none;
  box-shadow: 2px 1px 22px 11px rgb(0 0 0 / 20%);
  width: 18rem;
  margin: 1em auto;
}
.cardColums {
  padding: 1.2em;
}
.grid-columns {
  row-gap: 1em;
}
.card-item .item-body{
  background-color: rgba(0,0,0,.03)!important;
}
.card-item .item-header{
  border-bottom: 0px;
}
.cart-trans{
  border: none!important;
  background-color: transparent;
}
.card-item .item-footer{
  border-top: none;
  background-color: transparent!important;
}
.cont-controler-item {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  border: 1px solid #e0e0e0;  border-radius: 5px;
  background-color: #ffffff;
}
.controller-cart{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  border: 1px solid #e0e0e0;  border-radius: 5px;
  background-color: white;
}
.control-count-item button {
  border: none;
  background-color: #ffffff;
  color: blue; 
}
.disabled{
  pointer-events: none;
  color: rgb(0, 0, 0, 0.3)!important;
}
/*  */

.cover-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}
.d-none{
  display: none;
}

.headerContainer{
  font-family:Lato,sans-serif;
  -webkit-box-align:center;
  width:100%;
  padding:25px 60px 29px 60px;
  background:#fff;
  font-size:1.6rem;
  margin:1px 0;
  clear:both;
}

.title {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #333;

}
/* img */
.product-photo{
  width: 100%;
}
.product-photo-cart{
  width: 50%;
}
.aling-center{
  display: flex;
    align-self: center;
}
.j-center{
  display: flex;
    justify-content: center;
}
.t-start{
  text-align: start;
}
.t-price{
  font-family: Lato,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.1rem;
    color: #333;

}
.bg-gray{
  background-color: #e0e0e0;
}
.t-title{
  padding: 25px 60px 29px 60px;
  background-color: #e0e0e0;
}
.cart-t{
  display: flex;
    justify-content: space-around;
}
.sec-order
  h4{
    padding-top: 25px;
  }
